/* === typography ====== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
td,
th,
blockquote,
label,
input,
textarea,
select,
span {
  color: #09302f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p,
li,
td,
th,
blockquote,
label,
input,
textarea,
select {
  font-size: 1.2rem;
  line-height: 165%;
}

p {
  margin-bottom: 1rem;
}

.home h1 {
  color: #F8D589;
  text-shadow: 2px 2px 2px rgba(0, 0, 0);
  font-size: 30px !important;
}

.home .header-text {
  margin-top: -100px;
  margin-left: -50px;
}

/* header styles */

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.header .navbar-dark {
  background-color: #85ae5a !important;
}

.header .navbar-dark .navbar-nav .nav-link {
  background-color: #85ae5a !important;
}

.header .navbar-dark .navbar-brand {
  background-color: #85ae5a !important;
}

.bi.bi-search::before {
  margin-top: 8px;
  margin-left: 3%;
  color: #09302f;
  transition: color 0.3s ease;
  margin-right: 10px;
}

.bi.bi-search:hover::before {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navlink {
  color: #09302f;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 3%;
  font-size: 20px;
  margin-right: 3%;
}

.navlink2 {
  color: #09302f;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  margin-right: 40px;
  margin-left: 3%;
}

.navlink:hover {
  color: #fff;
}

.navlink2:hover {
  color: #fff;
}

.container {
  margin: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

#root {
  background-color: "#F2EFE0" !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 2%;
  position: relative;
  top: -2px;
}

.logo-text {
  font-size: 40px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .navbar-expand-md .navbar-collapse {
    display: none;
  }

  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .navbar-expand-md .show {
    display: block;
  }
}

/* content styles */

.content {
  display: flex;
  margin-top: 89px;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  background-color: "#F2EFE0" !important;
}

/* footer styles */

.footer {
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #85ae5a !important;
}

.container-fluid {
  padding: 0;
  background-color: "#F2EFE0" !important;
}

.quote-container p {
  font-style: italic;
  margin-top: 5px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 100px;
}

.footer-content a {
  color: rgba(0, 0, 0, 0.18);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.footer-content a:hover {
  color: #fff;
}

.footer-info {
  font-size: 12px;
}

.card-container {
  display: flex;
}

.card {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;

  margin-bottom: 10px;
}

.faded-text {
  color: rgba(0, 0, 0, 0.18);
  font-weight: bold;
}

.footer .footer-content {
  background-color: #85ae5a !important;
}

.header-text {
  position: absolute;
  left: 10%;
  top: 140px;
}

.homeButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

@media screen and (max-width: 1278px) {
  .header-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 1145px) {
  .header-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header-text {
    display: none;
  }
}
