

/* === typography ====== */ 

h1, h2, h3, h4, h5, h6, p, li, td, th, blockquote, label, input, textarea, select, span {
  color: #09302F;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, li, td, th, blockquote, label, input, textarea, select {
  font-size: 1.2rem;
  line-height: 165%;
}

p {
  margin-bottom: 1rem;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 0;
}

.quote {
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-info {
  font-size: 12px;
}